@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --dark-yellow--color: rgb(158, 149, 14);
  --light-yellow-color: rgb(238, 228, 91);
  --white--color: #fff;
  --black--color: #222;
  --red-color: rgb(255, 11, 60);
  --green-clor: rgb(17, 92, 2);
}

/* utility class  */
* {
  outline: none;
  border: none;
}
h1 {
  font-size: 2rem;
}
button {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--green-clor);
  background-color: var(--dark-yellow--color);
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: ease 0.5s;
  margin: 10px;
}

button:hover{
  background-color: antiquewhite;
  color: #282c34;
}

textarea{
  width: 400px;
  height: 150px;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid var(--black--color);
}

hr{
  width: 10px;
}

input{
  border-radius: 5px;
  height: 30px;
  padding: 3px 0px;
  text-align: center;
  font-size: 19px;
  border: 1px solid var(--black--color);
}


/* App styling */

.App {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  margin: 2rem;
  /* background-color: r; */
}



.Intro {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}

.Intro__sub {
  color: var(--red-color);
}
.Intro__span {
  color: var(--green-clor);
}



